<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
  Copyright (c) 2012-2021 Chris Reed.

  Released under a Creative Commons Attribution-ShareAlike License:
  <http://creativecommons.org/licenses/by-sa/4.0/>

  Version 1.0.1:
  - fixed typo in "#elif" keyword
  - added "#elifdef", "#elifndef", "#error", and "#warning"
  Version 1.0:
  - first release
-->
    <dict>
        <key>BBEditDocumentType</key>
        <string>CodelessLanguageModule</string>
        <key>BBLMColorsSyntax</key>
        <true/>
        <key>BBLMIsCaseSensitive</key>
        <true/>
        <key>BBLMKeywords</key>
        <array>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.preprocessor</string>
                <key>Keywords</key>
                <array>
                    <string>#define</string>
                    <string>#undef</string>
                    <string>#if</string>
                    <string>#ifdef</string>
                    <string>#ifndef</string>
                    <string>#else</string>
                    <string>#elif</string>
                    <string>#elifdef</string>
                    <string>#elifndef</string>
                    <string>#endif</string>
                    <string>#include</string>
                    <string>#error</string>
                    <string>#warning</string>
                </array>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.keyword</string>
                <key>Keywords</key>
                <array>
                    <string>.2byte</string>
                    <string>.4byte</string>
                    <string>.8byte</string>
                    <string>.abort</string>
                    <string>.align</string>
                    <string>.arch</string>
                    <string>.arch_extension</string>
                    <string>.arm</string>
                    <string>.ascii</string>
                    <string>.asciz</string>
                    <string>.balign</string>
                    <string>.bss</string>
                    <string>.bundle</string>
                    <string>.byte</string>
                    <string>.cantunwind</string>
                    <string>.cfi_sections</string>
                    <string>.cfi_personality</string>
                    <string>.cfi_lsda</string>
                    <string>.cfi_def_cfa</string>
                    <string>.cfi_def_cfa_register</string>
                    <string>.cfi_def_cfa_offset</string>
                    <string>.cfi_adjust_cfa_offset</string>
                    <string>.cfi_offset</string>
                    <string>.cfi_rel_offset</string>
                    <string>.cfi_register</string>
                    <string>.cfi_restore</string>
                    <string>.cfi_undefined</string>
                    <string>.cfi_same_value</string>
                    <string>.cfi_remember_state</string>
                    <string>.cfi_return_column</string>
                    <string>.cfi_signal_frame</string>
                    <string>.cfi_window_save</string>
                    <string>.cfi_escape</string>
                    <string>.cfi_val_encoded_addr</string>
                    <string>.cfi_endproc</string>
                    <string>.cfi_sections</string>
                    <string>.cfi_startproc</string>
                    <string>.code</string>
                    <string>.comm</string>
                    <string>.cpu</string>
                    <string>.def</string>
                    <string>.desc</string>
                    <string>.data.b</string>
                    <string>.data.h</string>
                    <string>.data.w</string>
                    <string>.data</string>
                    <string>.dcb.h</string>
                    <string>.dcb.l</string>
                    <string>.dcb.w</string>
                    <string>.dcb</string>
                    <string>.dcs</string>
                    <string>.dim</string>
                    <string>.dn</string>
                    <string>.double</string>
                    <string>.eabi_attribute</string>
                    <string>.eject</string>
                    <string>.else</string>
                    <string>.elseif</string>
                    <string>.end</string>
                    <string>.endf</string>
                    <string>.endfunc</string>
                    <string>.endif</string>
                    <string>.endm</string>
                    <string>.equ</string>
                    <string>.equiv</string>
                    <string>.eqv</string>
                    <string>.err</string>
                    <string>.error</string>
                    <string>.even</string>
                    <string>.exitm</string>
                    <string>.extend</string>
                    <string>.extern</string>
                    <string>.fail</string>
                    <string>.file</string>
                    <string>.fill</string>
                    <string>.float</string>
                    <string>.fnend</string>
                    <string>.fnstart</string>
                    <string>.force_thumb</string>
                    <string>.fpu</string>
                    <string>.func</string>
                    <string>.global</string>
                    <string>.globl</string>
                    <string>.gnu_attribute</string>
                    <string>.handlerdata</string>
                    <string>.hidden</string>
                    <string>.hword</string>
                    <string>.ident</string>
                    <string>.if</string>
                    <string>.ifne</string>
                    <string>.ifeq</string>
                    <string>.ifge</string>
                    <string>.ifle</string>
                    <string>.ifgt</string>
                    <string>.iflt</string>
                    <string>.ifb</string>
                    <string>.ifnb</string>
                    <string>.ifc</string>
                    <string>.ifnc</string>
                    <string>.ifeqs</string>
                    <string>.ifnes</string>
                    <string>.ifdef</string>
                    <string>.ifndef</string>
                    <string>.import</string>
                    <string>.incbin</string>
                    <string>.include</string>
                    <string>.inst</string>
                    <string>.inst.n</string>
                    <string>.inst.w</string>
                    <string>.int</string>
                    <string>.internal</string>
                    <string>.irp</string>
                    <string>.irpc</string>
                    <string>.lcomm</string>
                    <string>.ldouble</string>
                    <string>.lflags</string>
                    <string>.line</string>
                    <string>.linkonce</string>
                    <string>.list</string>
                    <string>.ln</string>
                    <string>.loc</string>
                    <string>.loc_mark_labels</string>
                    <string>.local</string>
                    <string>.long</string>
                    <string>.ltorg</string>
                    <string>.macro</string>
                    <string>.macrolocal</string>
                    <string>.movsp</string>
                    <string>.mri</string>
                    <string>.need</string>
                    <string>.noaltmacro</string>
                    <string>.nolist</string>
                    <string>.nothumb</string>
                    <string>.object_arch</string>
                    <string>.octa</string>
                    <string>.offset</string>
                    <string>.org</string>
                    <string>.p2align</string>
                    <string>.p2alignw</string>
                    <string>.p2alignl</string>
                    <string>.packed</string>
                    <string>.pad</string>
                    <string>.personality</string>
                    <string>.personalityindex</string>
                    <string>.pool</string>
                    <string>.popsection</string>
                    <string>.previous</string>
                    <string>.print</string>
                    <string>.protected</string>
                    <string>.psize</string>
                    <string>.purgem</string>
                    <string>.pushsection</string>
                    <string>.qn</string>
                    <string>.quad</string>
                    <string>.reloc</string>
                    <string>.rept</string>
                    <string>.req</string>
                    <string>.rodata</string>
                    <string>.save</string>
                    <string>.sbttl</string>
                    <string>.scl</string>
                    <string>.secrel32</string>
                    <string>.section</string>
                    <string>.set</string>
                    <string>.setfp</string>
                    <string>.short</string>
                    <string>.single</string>
                    <string>.size</string>
                    <string>.skip</string>
                    <string>.sleb128</string>
                    <string>.space</string>
                    <string>.stabd</string>
                    <string>.stabn</string>
                    <string>.stabs</string>
                    <string>.string</string>
                    <string>.struct</string>
                    <string>.subsection</string>
                    <string>.symver</string>
                    <string>.syntax</string>
                    <string>.tag</string>
                    <string>.text</string>
                    <string>.title</string>
                    <string>.thumb_func</string>
                    <string>.thumb</string>
                    <string>.tlsdescseq</string>
                    <string>.type</string>
                    <string>.uleb128</string>
                    <string>.unreq</string>
                    <string>.unwind_raw</string>
                    <string>.val</string>
                    <string>.version</string>
                    <string>.vsave</string>
                    <string>.vtable_entry</string>
                    <string>.vtable_inherit</string>
                    <string>.warning</string>
                    <string>.weak</string>
                    <string>.weakref</string>
                    <string>.word</string>
                    <string>equ</string>
                </array>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.predefined-symbol</string>
                <key>Keywords</key>
                <array>
                    <string>unified</string>
                    <string>%function</string>
                    <string>%object</string>
                    <string>%tls_object</string>
                    <string>%progbits</string>
                    <string>%nobits</string>
                    <string>%note</string>
                    <string>%init_array</string>
                    <string>%fini_array</string>
                    <string>%preinit_array</string>
                    <string>Tag_CPU_raw_name</string>
                    <string>Tag_CPU_name</string>
                    <string>Tag_CPU_arch</string>
                    <string>Tag_CPU_arch_profile</string>
                    <string>Tag_ARM_ISA_use</string>
                    <string>Tag_THUMB_ISA_use</string>
                    <string>Tag_FP_arch</string>
                    <string>Tag_WMMX_arch</string>
                    <string>Tag_Advanced_SIMD_arch</string>
                    <string>Tag_PCS_config</string>
                    <string>Tag_ABI_PCS_R9_use</string>
                    <string>Tag_ABI_PCS_RW_data</string>
                    <string>Tag_ABI_PCS_RO_data</string>
                    <string>Tag_ABI_PCS_GOT_use</string>
                    <string>Tag_ABI_PCS_wchar_t</string>
                    <string>Tag_ABI_FP_rounding</string>
                    <string>Tag_ABI_FP_denormal</string>
                    <string>Tag_ABI_FP_exceptions</string>
                    <string>Tag_ABI_FP_user_exceptions</string>
                    <string>Tag_ABI_FP_number_model</string>
                    <string>Tag_ABI_align_needed</string>
                    <string>Tag_ABI_align_preserved</string>
                    <string>Tag_ABI_enum_size</string>
                    <string>Tag_ABI_HardFP_use</string>
                    <string>Tag_ABI_VFP_args</string>
                    <string>Tag_ABI_WMMX_args</string>
                    <string>Tag_ABI_optimization_goals</string>
                    <string>Tag_ABI_FP_optimization_goals</string>
                    <string>Tag_compatibility</string>
                    <string>Tag_CPU_unaligned_access</string>
                    <string>Tag_FP_HP_extension</string>
                    <string>Tag_ABI_FP_16bit_format</string>
                    <string>Tag_MPextension_use</string>
                    <string>Tag_DIV_use</string>
                    <string>Tag_nodefaults</string>
                    <string>Tag_also_compatible_with</string>
                    <string>Tag_conformance</string>
                    <string>Tag_T2EE_use</string>
                    <string>Tag_Virtualization_use</string>
                    <string>Tag_VFP_arch</string>
                    <string>Tag_ABI_align8_needed</string>
                    <string>Tag_ABI_align8_preserved</string>
                    <string>Tag_VFP_HP_extension</string>
                    <string>:lower16:</string>
                    <string>:upper16:</string>
                    <string>:lo12:</string>
                    <string>:abs_g3:</string>
                    <string>:abs_g2:</string>
                    <string>:abs_g2_s:</string>
                    <string>:abs_g2_nc:</string>
                    <string>:abs_g1:</string>
                    <string>:abs_g1_s:</string>
                    <string>:abs_g1_nc:</string>
                    <string>:abs_g0:</string>
                    <string>:abs_g0_s:</string>
                    <string>:abs_g0_nc:</string>
                    <string>:got:</string>
                    <string>:got_lo12:</string>
                </array>
            </dict>
        </array>
        <key>BBLMLanguageCode</key>
        <string>Gas_</string>
        <key>BBLMLanguageDisplayName</key>
        <string>GNU Assembler</string>
        <key>BBLMScansFunctions</key>
        <true/>
        <key>BBLMSuffixMap</key>
        <array>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.s</string>
            </dict>
        </array>
        <key>BBLMCanSpellCheckCodeRuns</key>
        <false/>
        <key>Language Features</key>
        <dict>
            <key>Identifier and Keyword Character Class</key>
            <string>a-zA-Z0-9_#.:</string>
            <key>Comment Pattern</key>
            <string>((//|;|@).*$)|(/\*(.|\r)*?\*/)</string>
            <key>String Pattern</key>
            <string>"(.|\\")*"</string>
            <key>Function Pattern</key>
            <string>^(?P&lt;function_name&gt;[a-zA-Z_][a-zA-Z_0-9:]*)</string>
        </dict>
    </dict>
</plist>
