<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
  Copyright (c) 2016-2020 Chris Reed.

  Released under a Creative Commons Attribution-ShareAlike License:
  <http://creativecommons.org/licenses/by-sa/4.0/>
-->
    <dict>
        <key>BBEditDocumentType</key>
        <string>CodelessLanguageModule</string>
        <key>BBLMColorsSyntax</key>
        <true/>
        <key>BBLMIsCaseSensitive</key>
        <true/>
<!--
			<string>com.barebones.bblm.preprocessor</string>
			<string>com.barebones.bblm.variable</string>
			<string>com.barebones.bblm.keyword</string>
			<string>com.barebones.bblm.predefined-symbol</string>
			<string>com.barebones.bblm.file-include</string>
 -->
<!--
        <key>BBLMKeywordPatterns</key>
        <array>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.preprocessor</string>
                <key>Pattern</key>
                <string>{%.*%}</string>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.keyword</string>
                <key>Pattern</key>
                <string>{$.*}</string>
            </dict>
        </array>
 -->
<!--
        <key>BBLMKeywords</key>
        <array>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.predefined-symbol</string>
                <key>Keywords</key>
                <array>
                    <string>bool</string>
                </array>
            </dict>
        </array>
 -->
        <key>BBLMLanguageCode</key>
        <string>cppt</string>
        <key>BBLMLanguageDisplayName</key>
        <string>cpptemplate</string>
        <key>BBLMScansFunctions</key>
        <true/>
        <key>BBLMSuffixMap</key>
        <array>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.cpptempl</string>
            </dict>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.template</string>
            </dict>
        </array>
        <key>BBLMCanSpellCheckCodeRuns</key>
        <false/>
<!--
        <key>BBLMCommentLineDefault</key>
        <string>//</string>
 -->
        <key>Language Features</key>
        <dict>
            <key>Identifier and Keyword Character Class</key>
            <string>a-zA-Z0-9_.</string>
            <key>Comment Pattern</key>
            <string><![CDATA[(?x:
              ({\#.*?\#}) |              	(?# comment directive)
              (--+\s.*?)(?=>?%})       (?# inline comment)
            )]]></string>
            <key>Numbers Pattern</key>
            <string><![CDATA[(?x:
              {%.*?%}
            )]]></string>
            <key>Keyword Pattern</key>
            <string><![CDATA[(?x:
              {\$.*?}
            )]]></string>
            <key>String Pattern</key>
            <string><![CDATA[(?x:
              "(?>\\.|[^"])*?"	(?# double quote)	|
              '(?>\\.|[^'])*?'	(?# single quote)
            )]]></string>
            <key>Function Pattern</key>
            <string><![CDATA[(?x:
              {%\s*def\s+
              (?P<function_name>[a-zA-Z0-9_]+)
            )]]></string>
            <key>Skip Pattern</key>
            <string><![CDATA[
            (?x:
                (?P>comment) |
                (?P>string)
            )]]></string>
        </dict>
        <key>com.barebones.DocumentType</key>
        <string>CodelessLanguageModule</string>
    </dict>
</plist>
