<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BBEditDocumentType</key>
        <string>CodelessLanguageModule</string>
        <key>BBLMColorsSyntax</key>
        <true/>
        <key>BBLMIsCaseSensitive</key>
        <true/>
        <key>BBLMKeywords</key>
        <array>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.preprocessor</string>
                <key>Keywords</key>
                <array>
                    <string>#define</string>
                    <string>#undef</string>
                    <string>#if</string>
                    <string>#ifdef</string>
                    <string>#ifndef</string>
                    <string>#else</string>
                    <string>#elif-</string>
                    <string>#endif</string>
                    <string>#include</string>
                </array>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.keyword</string>
                <key>Keywords</key>
                <array>
                    <string>MEMORY</string>
                    <string>SECTIONS</string>
                    <string>ENTRY</string>
                    <string>INCLUDE</string>
                    <string>INPUT</string>
                    <string>GROUP</string>
                    <string>AS_NEEDED</string>
                    <string>OUTPUT</string>
                    <string>SEARCH_DIR</string>
                    <string>STARTUP</string>
                    <string>OUTPUT_FORMAT</string>
                    <string>TARGET</string>
                    <string>REGION_ALIAS</string>
                    <string>ENTRY</string>
                    <string>ASSERT</string>
                    <string>EXTERN</string>
                    <string>FORCE_COMMON_ALLOCATION</string>
                    <string>INHIBIT_COMMON_ALLOCATION</string>
                    <string>INSERT</string>
                    <string>AFTER</string>
                    <string>BEFORE</string>
                    <string>NOCROSSREFS</string>
                    <string>OUTPUT_ARCH</string>
                    <string>LD_FEATURE</string>
                    <string>PHDRS</string>
                    <string>PROVIDE</string>
                    <string>PROVIDE_HIDDEN</string>
                    <string>AT</string>
                    <string>ALIGN</string>
                    <string>SUBALIGN</string>
                    <string>EXCLUDE_FILE</string>
                    <string>INPUT_SECTION_FLAGS</string>
                    <string>SORT_BY_NAME</string>
                    <string>SORT_BY_ALIGNMENT</string>
                    <string>SORT_BY_INIT_PRIORITY</string>
                    <string>SORT</string>
                    <string>KEEP</string>
                    <string>BYTE</string>
                    <string>SHORT</string>
                    <string>LONG</string>
                    <string>QUAD</string>
                    <string>FILL</string>
                    <string>CREATE_OBJECT_SYMBOLS</string>
                    <string>CONSTRUCTORS</string>
                    <string>ENTRY</string>
                    <string>ONLY_IF_RO</string>
                    <string>ONLY_IF_RW</string>
                    <string>OVERLAY</string>
                    <string>ORIGIN</string>
                    <string>LENGTH</string>
                    <string>CONSTANT</string>
                    <string>ABSOLUTE</string>
                    <string>LOADADDR</string>
                    <string>ADDR</string>
                    <string>ALIGNOF</string>
                    <string>BLOCK</string>
                    <string>DATA_SEGMENT_ALIGN</string>
                    <string>DATA_SEGMENT_END</string>
                    <string>DATA_SEGMENT_RELRO_END</string>
                    <string>DEFINED</string>
                    <string>LENGTH</string>
                    <string>MAX</string>
                    <string>MIN</string>
                    <string>NEXT</string>
                    <string>SEGMENT_START</string>
                    <string>SIZEOF</string>
                    <string>SIZEOF_HEADERS</string>
                    <string>NOLOAD</string>
                    <string>DSECT</string>
                    <string>COPY</string>
                    <string>INFO</string>
                    <string>ENTRY</string>
                </array>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.predefined-symbol</string>
                <key>Keywords</key>
                <array>
                    <string>.</string>
                    <string>COMMON</string>
                    <string>MAXPAGESIZE</string>
                    <string>COMMONPAGESIZE</string>
                    <string>.text</string>
                    <string>.bss</string>
                    <string>.data</string>
                    <string>.rodata</string>
                    <string>.interrupts</string>
                    <string>.vectors</string>
                    <string>.ctors</string>
                    <string>.dtors</string>
                    <string>.preinit_array</string>
                    <string>.init_array</string>
                    <string>.fini_array</string>
                    <string>.glue_7</string>
                    <string>.glue_7t</string>
                    <string>.eh_frame</string>
                    <string>.init</string>
                    <string>.fini</string>
                    <string>.heap</string>
                    <string>.stack</string>
                    <string>.ARM.exidx</string>
                    <string>.ARM.extab</string>
                    <string>.ARM</string>
                    <string>.ARM.attributes</string>
                </array>
            </dict>
        </array>
        <key>BBLMLanguageCode</key>
        <string>GNld</string>
        <key>BBLMLanguageDisplayName</key>
        <string>GNU ld Linker Script</string>
        <key>BBLMScansFunctions</key>
        <false/>
        <key>BBLMSuffixMap</key>
        <array>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.ld</string>
            </dict>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.lds</string>
            </dict>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.ld.S</string>
            </dict>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.lds.S</string>
            </dict>
        </array>
        <key>BBLMCanSpellCheckCodeRuns</key>
        <false/>
        <key>BBLMCommentPrefixDefault</key>
        <string>/*</string>
        <key>BBLMCommentSuffixDefault</key>
        <string>*/</string>
        <key>Language Features</key>
        <dict>
            <key>Identifier and Keyword Character Class</key>
            <string>a-zA-Z0-9_.-</string>
            <key>Comment Pattern</key>
            <string>(//.*$)|/\*(\r|.)*?\*/</string>
            <key>String Pattern</key>
            <string><![CDATA[(?x:
              ("(\\"|[^"\r]|\\\r)*")  (?# Double-quote)
            )]]></string>
            <key>Function Pattern</key>
            <string><![CDATA[(?x:
              (?P<function_name>MEMORY|SECTION|[._a-zA-Z0-9]+\s\:)
            )]]></string>
        </dict>
    </dict>
</plist>
