<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BBEditDocumentType</key>
        <string>CodelessLanguageModule</string>
        <key>BBLMColorsSyntax</key>
        <true/>
        <key>BBLMIsCaseSensitive</key>
        <true/>
        <key>BBLMKeywordPatterns</key>
        <array>
            <dict>
                <!-- Rule -->
                <key>RunKind</key>
                <string>com.barebones.bblm.indexed-symbol</string>
                <key>Pattern</key>
                <string>([a-z0-9_]+)(\.[0-9]+)?</string>
            </dict>
            <dict>
                <!-- Terminal -->
                <key>RunKind</key>
                <string>com.barebones.bblm.keyword</string>
                <key>Pattern</key>
                <string>([A-Z0-9_]+)(\.[0-9]+)?</string>
            </dict>
            <dict>
                <!-- Operators -->
                <key>RunKind</key>
                <string>com.barebones.bblm.variable</string>
                <key>Pattern</key>
                <string>(->|\|^(\?|\!))</string>
            </dict>
            <dict>
                <!-- Directives -->
                <key>RunKind</key>
                <string>com.barebones.bblm.preprocessor</string>
                <key>Pattern</key>
                <string>(%(import|ignore))</string>
            </dict>
        </array>
        <key>BBLMKeywords</key>
        <array>
<!--
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.preprocessor</string>
                <key>Keywords</key>
                <array>
                    <string>%import</string>
                    <string>%ignore</string>
                </array>
            </dict>
 -->
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.predefined-symbol</string>
                <key>Keywords</key>
                <array>
                    <string>DIGIT</string>
                    <string>HEXDIGIT</string>
                    <string>INT</string>
                    <string>SIGNED_INT</string>
                    <string>DECIMAL</string>
                    <string>FLOAT</string>
                    <string>SIGNED_FLOAT</string>
                    <string>NUMBER</string>
                    <string>SIGNED_NUMBER</string>
                    <string>ESCAPED_STRING</string>
                    <string>LCASE_LETTER</string>
                    <string>UCASE_LETTER</string>
                    <string>LETTER</string>
                    <string>WORD</string>
                    <string>CNAME</string>
                    <string>WS_INLINE</string>
                    <string>WS</string>
                    <string>CR</string>
                    <string>LF</string>
                    <string>NEWLINE</string>
                </array>
            </dict>
        </array>
        <key>BBLMLanguageCode</key>
        <string>Lark</string>
        <key>BBLMLanguageDisplayName</key>
        <string>Lark Grammar</string>
        <key>BBLMScansFunctions</key>
        <true/>
        <key>BBLMSuffixMap</key>
        <array>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.lark</string>
            </dict>
        </array>
        <key>BBLMCanSpellCheckCodeRuns</key>
        <false/>
        <key>BBLMCommentLineDefault</key>
        <string>// </string>
        <key>Language Features</key>
        <dict>
            <key>Identifier and Keyword Character Class</key>
            <string>a-zA-Z0-9_.-</string>
            <key>Comment Pattern</key>
            <string>(//.*$)</string>
            <key>String Pattern</key>
            <string><![CDATA[(?x:
              ("(\\"|[^"\r]|\\\r)*"i?)  (?# Double-quote)
            | (\/(\\\/|[^\/\r]|\\\r)*\/i?)  (?# Regex)
            )]]></string>
            <key>Function Pattern</key>
            <string><![CDATA[(?x:
              (?P<function_name>[a-z_0-9]+|[A-Z_0-9]+):
            )]]></string>
        </dict>
    </dict>
</plist>
