<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BBEditDocumentType</key>
        <string>CodelessLanguageModule</string>
        <key>BBLMColorsSyntax</key>
        <true/>
        <key>BBLMIsCaseSensitive</key>
        <true/>
        <key>BBLMKeywordPatterns</key>
        <array>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.variable</string>
                <key>Pattern</key>
                <string>@[a-zA-Z0-9_]+</string>
            </dict>
        </array>
        <key>BBLMKeywords</key>
        <array>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.preprocessor</string>
                <key>Keywords</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.keyword</string>
                <key>Keywords</key>
                <array>
                    <string>abstract</string>
                    <string>case</string>
                    <string>catch</string>
                    <string>class</string>
                    <string>def</string>
                    <string>do</string>
                    <string>else</string>
                    <string>extends</string>
                    <string>false</string>
                    <string>final</string>
                    <string>finally</string>
                    <string>for</string>
                    <string>forSome</string>
                    <string>if</string>
                    <string>implicit</string>
                    <string>import</string>
                    <string>lazy</string>
                    <string>match</string>
                    <string>new</string>
                    <string>null</string>
                    <string>object</string>
                    <string>override</string>
                    <string>package</string>
                    <string>private</string>
                    <string>protected</string>
                    <string>return</string>
                    <string>sealed</string>
                    <string>super</string>
                    <string>this</string>
                    <string>throw</string>
                    <string>trait</string>
                    <string>true</string>
                    <string>try</string>
                    <string>type</string>
                    <string>val</string>
                    <string>var</string>
                    <string>while</string>
                    <string>with</string>
                    <string>yield</string>
                    <string>_</string>
                    <string>:</string>
                    <string>=</string>
                    <string>=&gt;</string>
                    <string>&lt;-</string>
                    <string>&lt;:</string>
                    <string>&lt;%</string>
                    <string>&gt;:</string>
                    <string>#</string>
                    <string>@</string>
                </array>
            </dict>
            <dict>
                <key>RunKind</key>
                <string>com.barebones.bblm.predefined-symbol</string>
                <key>Keywords</key>
                <array>
                  <string>Any</string>
                  <string>AnyRef</string>
                  <string>AnyVal</string>
                  <string>App</string>
                  <string>Application</string>
                  <string>Array</string>
                  <string>Boolean</string>
                  <string>Byte</string>
                  <string>Cell</string>
                  <string>Char</string>
                  <string>cloneable</string>
                  <string>Console</string>
                  <string>CountedIterator</string>
                  <string>DelayedInit</string>
                  <string>deprecated</string>
                  <string>deprecatedName</string>
                  <string>Double</string>
                  <string>Dynamic</string>
                  <string>Either</string>
                  <string>Enumeration</string>
                  <string>Equals</string>
                  <string>Equiv</string>
                  <string>FallbackArrayBuilding</string>
                  <string>Float</string>
                  <string>Function</string>
                  <string>Function1</string>
                  <string>Function2</string>
                  <string>Function3</string>
                  <string>Function4</string>
                  <string>Function5</string>
                  <string>Function6</string>
                  <string>Function7</string>
                  <string>Function8</string>
                  <string>Function9</string>
                  <string>Function10</string>
                  <string>Immutable</string>
                  <string>inline</string>
                  <string>Int</string>
                  <string>Left</string>
                  <string>Long</string>
                  <string>LowPriorityImplicits</string>
                  <string>MatchError</string>
                  <string>Math</string>
                  <string>Mutable</string>
                  <string>native</string>
                  <string>noinline</string>
                  <string>None</string>
                  <string>NotDefinedError</string>
                  <string>Nothing</string>
                  <string>NotNull</string>
                  <string>Null</string>
                  <string>Option</string>
                  <string>PartialFunction</string>
                  <string>Predef</string>
                  <string>Product</string>
                  <string>Product1</string>
                  <string>Product2</string>
                  <string>Proxy</string>
                  <string>remote</string>
                  <string>Responder</string>
                  <string>Right</string>
                  <string>Serializable</string>
                  <string>SerialVersionUID</string>
                  <string>Short</string>
                  <string>Some</string>
                  <string>specialized</string>
                  <string>String</string>
                  <string>Symbol</string>
                  <string>throws</string>
                  <string>transient</string>
                  <string>Tuple1</string>
                  <string>Tuple2</string>
                  <string>Tuple3</string>
                  <string>Tuple4</string>
                  <string>Tuple5</string>
                  <string>Tuple6</string>
                  <string>Tuple7</string>
                  <string>Tuple8</string>
                  <string>Tuple9</string>
                  <string>Tuple10</string>
                  <string>Unit</string>
                  <string>actors</string>
                  <string>annotation</string>
                  <string>collection</string>
                  <string>concurrent</string>
                  <string>io</string>
                  <string>math</string>
                  <string>parallel</string>
                  <string>ref</string>
                  <string>reflect</string>
                  <string>runtime</string>
                  <string>swing</string>
                  <string>sys</string>
                  <string>testing</string>
                  <string>text</string>
                  <string>util</string>
                  <string>BigDecimal</string>
                  <string>BigInt</string>
                  <string>Numeric</string>
                  <string>Ordering</string>
                  <string>Vector</string>
                  <string>unchecked</string>
                  <string>volatile</string>
                  <string>ArrowAssoc</string>
                  <string>DummyImplicit</string>
                  <string>Ensuring</string>
                  <string>List</string>
                  <string>Manifest</string>
                  <string>Map</string>
                  <string>NoManifest</string>
                  <string>OptManifest</string>
                  <string>Pair</string>
                  <string>Set</string>
                  <string>Triple</string>
                  <string>print</string>
                  <string>printf</string>
                  <string>println</string>
                  <string>require</string>
                  <string>assert</string>
                  <string>assume</string>
                  <string>classOf</string>
                  <string>classManifest</string>
                  <string>identity</string>
                  <string>implicitly</string>
                  <string>locally</string>
                  <string>manifest</string>
                  <string>optManifest</string>
                  <string>Character</string>
                  <string>ClassLoader</string>
                  <string>Compiler</string>
                  <string>Enum</string>
                  <string>InheritableThreadLocal</string>
                  <string>Integer</string>
                  <string>Object</string>
                  <string>Package</string>
                  <string>Process</string>
                  <string>ProcessBuilder</string>
                  <string>Runtime</string>
                  <string>RuntimePermission</string>
                  <string>SecurityManager</string>
                  <string>StackTraceElement</string>
                  <string>StrictMath</string>
                  <string>StringBuffer</string>
                  <string>StringBuilder</string>
                  <string>System</string>
                  <string>Thread</string>
                  <string>ThreadGroup</string>
                  <string>ThreadLocal</string>
                  <string>Throwable</string>
                  <string>Void</string>
                  <string>ArithmeticException</string>
                  <string>ArrayIndexOutOfBoundsException</string>
                  <string>ArrayStoreException</string>
                  <string>ClassCastException</string>
                  <string>ClassNotFoundException</string>
                  <string>CloneNotSupportedException</string>
                  <string>EnumConstantNotPresentException</string>
                  <string>Exception</string>
                  <string>IllegalAccessException</string>
                  <string>IllegalArgumentException</string>
                  <string>IllegalMonitorStateException</string>
                  <string>IllegalStateException</string>
                  <string>IndexOutOfBoundsException</string>
                  <string>InstantiationException</string>
                  <string>InterruptedException</string>
                  <string>NegativeArraySizeException</string>
                  <string>NoSuchFieldException</string>
                  <string>NoSuchMethodException</string>
                  <string>NullPointerException</string>
                  <string>NumberFormatException</string>
                  <string>RuntimeException</string>
                  <string>SecurityException</string>
                  <string>StringIndexOutOfBoundsException</string>
                  <string>TypeNotPresentException</string>
                  <string>UnsupportedOperationException</string>
                  <string>AbstractMethodError</string>
                  <string>AssertionError</string>
                  <string>ClassCircularityError</string>
                  <string>ClassFormatError</string>
                  <string>Error</string>
                  <string>ExceptionInInitializerError</string>
                  <string>IllegalAccessError</string>
                  <string>IncompatibleClassChangeError</string>
                  <string>InstantiationError</string>
                  <string>InternalError</string>
                  <string>LinkageError</string>
                  <string>NoClassDefFoundError</string>
                  <string>NoSuchFieldError</string>
                  <string>OutOfMemoryError</string>
                  <string>StackOverflowError</string>
                  <string>ThreadDeath</string>
                  <string>UnknownError</string>
                  <string>UnsatisfiedLinkError</string>
                  <string>UnsupportedClassVersionError</string>
                  <string>VerifyError</string>
                  <string>VirtualMachineError</string>
                  <string>Deprecated</string>
                  <string>Override</string>
                </array>
            </dict>
        </array>
        <key>BBLMLanguageCode</key>
        <string>scla</string>
        <key>BBLMLanguageDisplayName</key>
        <string>Scala</string>
        <key>BBLMScansFunctions</key>
        <true/>
        <key>BBLMSuffixMap</key>
        <array>
            <dict>
                <key>BBLMLanguageSuffix</key>
                <string>.scala</string>
            </dict>
        </array>
        <key>BBLMCanSpellCheckCodeRuns</key>
        <false/>
        <key>BBLMCommentLineDefault</key>
        <string>//</string>
        <key>Language Features</key>
        <dict>
            <key>Identifier and Keyword Character Class</key>
            <string>a-zA-Z0-9_$</string>
            <key>Comment Pattern</key>
            <string>((//|#).*$)|/\*(\r|.)*?\*/</string>
            <key>String Pattern</key>
            <string><![CDATA[(?x:
              ("(\\"|[^"\r]|\\\r)*")  (?# Double-quote)
            )]]></string>
            <key>Function Pattern</key>
            <string><![CDATA[(?x:
              (?P<function_name>((case|private|protected|sealed|abstract|override|final)\s+)*(class|object|package|trait|def)\s+[a-zA-Z0-9_$]+)
            )]]></string>
            <key>Skip Pattern</key>
            <string><![CDATA[
            (?x:
                (?P>comment) |
                (?P>string)
            )]]></string>
        </dict>
        <key>com.barebones.DocumentType</key>
        <string>CodelessLanguageModule</string>
    </dict>
</plist>
